Client/src/main/resources/momime.client.language/MoMIMELanguageDatabase.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxe="http://www.roughseas.ca/xmleditor/1.0.0"
	xmlns:momimenewgame="http://momime/common/database/newgame/v0_9_5" xmlns:momimecommon="http://momime/common/database/v0_9_5"
	xmlns:mps="http://www.ndg.com/multiplayer/sessionbase" xmlns:momimesvr="http://momime/server/database/v0_9_5" 
	xmlns:momimelang="http://momime/client/language/database/v0_9_5" targetNamespace="http://momime/client/language/database/v0_9_5">
	
	<xsd:import namespace="http://www.ndg.com/multiplayer/sessionbase"/>
	<xsd:import namespace="http://momime/common/database/newgame/v0_9_5"/>
	<xsd:import namespace="http://momime/common/database/v0_9_5"/>
	<xsd:import namespace="http://momime/server/database/v0_9_5"/>

    <xsd:annotation>
		<xsd:appinfo>
			<nxe:backuponopen>Y</nxe:backuponopen>
			<nxe:database namespaceURI="http://momime/client/language/database/v0_9_5">
				<nxe:title>Master of Magic Language File</nxe:title>
				<nxe:xmlfilename>../client/languages/English.Master of Magic Language.xml</nxe:xmlfilename>
			</nxe:database>
			<nxe:database namespaceURI="http://momime/server/database/v0_9_5">
				<nxe:title>Master of Magic Server Database</nxe:title>
				<nxe:xmlfilename>../server/databases/Original Master of Magic 1.31 rules.Master of Magic Server.xml</nxe:xmlfilename>
			</nxe:database>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element name="languageDatabase">
	<xsd:complexType>
		<xsd:sequence>
			<!-- Placeholder to insert server DB -->
			<xsd:element ref="momimesvr:serverDatabase"/>
			
			<!-- Language entities -->
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="plane" type="momimelang:plane" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="productionType" type="momimelang:productionType" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="mapFeature" type="momimelang:mapFeature" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="tileType" type="momimelang:tileType" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="pickType" type="momimelang:pickType" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="pick" type="momimelang:pick" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="wizard" type="momimelang:wizard" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="populationTask" type="momimelang:populationTask" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="race" type="momimelang:race" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="building" type="momimelang:building" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="citySize" type="momimelang:citySize" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="unitType" type="momimelang:unitType">
				<xsd:key name="experienceLevelPK">
					<xsd:selector xpath="experienceLevel" />
					<xsd:field xpath="@levelNumber" />
				</xsd:key>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="unitSkill" type="momimelang:unitSkill" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="unitAttribute" type="momimelang:unitAttribute" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="unitMagicRealm" type="momimelang:unitMagicRealm" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="rangedAttackType" type="momimelang:rangedAttackType" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="unit" type="momimelang:unit" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="hero" type="momimelang:hero" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="combatAreaEffect" type="momimelang:combatAreaEffect" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="spellRank" type="momimelang:spellRank" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="spellBookSection" type="momimelang:spellBookSection" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="spell" type="momimelang:spell" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="citySpellEffect" type="momimelang:citySpellEffect" />
			
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="mapSize" type="momimelang:mapSize" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="landProportion" type="momimelang:landProportion" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="nodeStrength" type="momimelang:nodeStrength" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="difficultyLevel" type="momimelang:difficultyLevel" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="fogOfWarSetting" type="momimelang:fogOfWarSetting" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="unitSetting" type="momimelang:unitSetting" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="spellSetting" type="momimelang:spellSetting" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="knownServer" type="momimelang:knownServer" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="languageCategory" type="momimelang:languageCategory">
				<xsd:key name="languageEntryPK">
					<xsd:selector xpath="languageEntry" />
					<xsd:field xpath="@languageEntryID" />
				</xsd:key>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="shortcutKey" type="momimelang:shortcutKey" />
		</xsd:sequence>
	</xsd:complexType>

<!-- Primary keys -->

		<xsd:key name="planePK">
			<xsd:selector xpath="plane" />
			<xsd:field xpath="@planeNumber" />
		</xsd:key>
		<xsd:key name="productionTypePK">
			<xsd:selector xpath="productionType" />
			<xsd:field xpath="@productionTypeID" />
		</xsd:key>
		<xsd:key name="mapFeaturePK">
			<xsd:selector xpath="mapFeature" />
			<xsd:field xpath="@mapFeatureID" />
		</xsd:key>
		<xsd:key name="tileTypePK">
			<xsd:selector xpath="tileType" />
			<xsd:field xpath="@tileTypeID" />
		</xsd:key>
		<xsd:key name="pickTypePK">
			<xsd:selector xpath="pickType" />
			<xsd:field xpath="@pickTypeID" />
		</xsd:key>
		<xsd:key name="pickPK">
			<xsd:selector xpath="pick" />
			<xsd:field xpath="@pickID" />
		</xsd:key>
		<xsd:key name="wizardPK">
			<xsd:selector xpath="wizard" />
			<xsd:field xpath="@wizardID" />
		</xsd:key>
		<xsd:key name="populationTaskPK">
			<xsd:selector xpath="populationTask" />
			<xsd:field xpath="@populationTaskID" />
		</xsd:key>
		<xsd:key name="racePK">
			<xsd:selector xpath="race" />
			<xsd:field xpath="@raceID" />
		</xsd:key>
		<xsd:key name="buildingPK">
			<xsd:selector xpath="building" />
			<xsd:field xpath="@buildingID" />
		</xsd:key>
		<xsd:key name="citySizePK">
			<xsd:selector xpath="citySize" />
			<xsd:field xpath="@citySizeID" />
		</xsd:key>
		<xsd:key name="unitTypePK">
			<xsd:selector xpath="unitType" />
			<xsd:field xpath="@unitTypeID" />
		</xsd:key>
		<xsd:key name="unitSkillPK">
			<xsd:selector xpath="unitSkill" />
			<xsd:field xpath="@unitSkillID" />
		</xsd:key>
		<xsd:key name="unitAttributePK">
			<xsd:selector xpath="unitAttribute" />
			<xsd:field xpath="@unitAttributeID" />
		</xsd:key>
		<xsd:key name="unitMagicRealmPK">
			<xsd:selector xpath="unitMagicRealm" />
			<xsd:field xpath="@unitMagicRealmID" />
		</xsd:key>
		<xsd:key name="rangedAttackTypePK">
			<xsd:selector xpath="rangedAttackType" />
			<xsd:field xpath="@rangedAttackTypeID" />
		</xsd:key>
		<xsd:key name="unitPK">
			<xsd:selector xpath="unit" />
			<xsd:field xpath="@unitID" />
		</xsd:key>
		<xsd:key name="heroPK">
			<xsd:selector xpath="hero" />
			<xsd:field xpath="@heroNameID" />
		</xsd:key>
		<xsd:key name="combatAreaEffectPK">
			<xsd:selector xpath="combatAreaEffect" />
			<xsd:field xpath="@combatAreaEffectID" />
		</xsd:key>
		<xsd:key name="spellRankPK">
			<xsd:selector xpath="spellRank" />
			<xsd:field xpath="@spellRankID" />
		</xsd:key>
		<xsd:key name="spellBookSectionPK">
			<xsd:selector xpath="spellBookSection" />
			<xsd:field xpath="@spellBookSectionID" />
		</xsd:key>
		<xsd:key name="spellPK">
			<xsd:selector xpath="spell" />
			<xsd:field xpath="@spellID" />
		</xsd:key>
		<xsd:key name="citySpellEffectPK">
			<xsd:selector xpath="citySpellEffect" />
			<xsd:field xpath="@citySpellEffectID" />
		</xsd:key>
		<xsd:key name="languageCategoryPK">
			<xsd:selector xpath="languageCategory" />
			<xsd:field xpath="@languageCategoryID" />
		</xsd:key>
		
		<!-- New game form settings, new for 0.9.2 -->
		<xsd:key name="mapSizePK">
			<xsd:selector xpath="mapSize" />
			<xsd:field xpath="@mapSizeID" />
		</xsd:key>
		<xsd:key name="landProportionPK">
			<xsd:selector xpath="landProportion" />
			<xsd:field xpath="@landProportionID" />
		</xsd:key>
		<xsd:key name="nodeStrengthPK">
			<xsd:selector xpath="nodeStrength" />
			<xsd:field xpath="@nodeStrengthID" />
		</xsd:key>
		<xsd:key name="difficultyLevelPK">
			<xsd:selector xpath="difficultyLevel" />
			<xsd:field xpath="@difficultyLevelID" />
		</xsd:key>
		<xsd:key name="fogOfWarSettingPK">
			<xsd:selector xpath="fogOfWarSetting" />
			<xsd:field xpath="@fogOfWarSettingID" />
		</xsd:key>
		<xsd:key name="unitSettingPK">
			<xsd:selector xpath="unitSetting" />
			<xsd:field xpath="@unitSettingID" />
		</xsd:key>
		<xsd:key name="spellSettingPK">
			<xsd:selector xpath="spellSetting" />
			<xsd:field xpath="@spellSettingID" />
		</xsd:key>
		<xsd:key name="knownServerPK">
			<xsd:selector xpath="knownServer" />
			<xsd:field xpath="@knownServerID" />
		</xsd:key>

		<!-- Shortcut keys, new for 0.9.3 -->
		<xsd:key name="shortcutKeyPK">
			<xsd:selector xpath="shortcutKey" />
			<xsd:field xpath="@shortcut" />
		</xsd:key>
		
<!-- Foreign keys -->

		<xsd:keyref refer="momimesvr:planePK" name="planeFKplane">
			<xsd:selector xpath="plane" />
			<xsd:field xpath="@planeNumber" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:productionTypePK" name="productionTypeFKproductionType">
			<xsd:selector xpath="productionType" />
			<xsd:field xpath="@productionTypeID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:mapFeaturePK" name="mapFeatureFKmapFeature">
			<xsd:selector xpath="mapFeature" />
			<xsd:field xpath="@mapFeatureID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:tileTypePK" name="tileTypeFKtileType">
			<xsd:selector xpath="tileType" />
			<xsd:field xpath="@tileTypeID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:pickTypePK" name="pickTypeFKpickType">
			<xsd:selector xpath="pickType" />
			<xsd:field xpath="@pickTypeID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:pickPK" name="pickFKpick">
			<xsd:selector xpath="pick" />
			<xsd:field xpath="@pickID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:wizardPK" name="wizardFKwizard">
			<xsd:selector xpath="wizard" />
			<xsd:field xpath="@wizardID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:populationTaskPK" name="populationTaskFKpopulationTask">
			<xsd:selector xpath="populationTask" />
			<xsd:field xpath="@populationTaskID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:racePK" name="raceFKrace">
			<xsd:selector xpath="race" />
			<xsd:field xpath="@raceID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:buildingPK" name="buildingFKbuilding">
			<xsd:selector xpath="building" />
			<xsd:field xpath="@buildingID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:citySizePK" name="citySizeFKcitySize">
			<xsd:selector xpath="citySize" />
			<xsd:field xpath="@citySizeID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:unitTypePK" name="unitTypeFKunitType">
			<xsd:selector xpath="unitType" />
			<xsd:field xpath="@unitTypeID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:unitSkillPK" name="unitSkillFKunitSkill">
			<xsd:selector xpath="unitSkill" />
			<xsd:field xpath="@unitSkillID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:unitAttributePK" name="unitAttributeFKunitAttribute">
			<xsd:selector xpath="unitAttribute" />
			<xsd:field xpath="@unitAttributeID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:unitMagicRealmPK" name="unitMagicRealmFKunitMagicRealm">
			<xsd:selector xpath="unitMagicRealm" />
			<xsd:field xpath="@unitMagicRealmID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:rangedAttackTypePK" name="rangedAttackTypeFKrangedAttackType">
			<xsd:selector xpath="rangedAttackType" />
			<xsd:field xpath="@rangedAttackTypeID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:unitPK" name="unitFKunit">
			<xsd:selector xpath="unit" />
			<xsd:field xpath="@unitID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:experienceLevelPK" name="experienceLevelFKexperienceLevel">
			<xsd:selector xpath="multilevelFKtosecondaryDB/unitType/experienceLevel" />
			<xsd:field xpath="@levelNumber" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:combatAreaEffectPK" name="combatAreaEffectFKcombatAreaEffect">
			<xsd:selector xpath="combatAreaEffect" />
			<xsd:field xpath="@combatAreaEffectID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:spellRankPK" name="spellRankFKspellRank">
			<xsd:selector xpath="spellRank" />
			<xsd:field xpath="@spellRankID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:spellPK" name="spellFKspell">
			<xsd:selector xpath="spell" />
			<xsd:field xpath="@spellID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:citySpellEffectPK" name="citySpellEffectFKcitySpellEffect">
			<xsd:selector xpath="citySpellEffect" />
			<xsd:field xpath="@citySpellEffectID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:languageCategoryPK" name="languageCategoryFKlanguageCategory">
			<xsd:selector xpath="languageCategory" />
			<xsd:field xpath="@languageCategoryID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:languageEntryPK" name="languageEntryFKlanguageEntry">
			<xsd:selector xpath="multilevelFKtosecondaryDB/languageCategory/languageEntry" />
			<xsd:field xpath="@languageEntryID" />
		</xsd:keyref>

		<!-- New game form settings, new for 0.9.2 -->
		<xsd:keyref refer="momimesvr:mapSizePK" name="mapSizeFKmapSize">
			<xsd:selector xpath="mapSize" />
			<xsd:field xpath="@mapSizeID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:landProportionPK" name="landProportionFKlandProportion">
			<xsd:selector xpath="landProportion" />
			<xsd:field xpath="@landProportionID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:nodeStrengthPK" name="nodeStrengthFKnodeStrength">
			<xsd:selector xpath="nodeStrength" />
			<xsd:field xpath="@nodeStrengthID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:difficultyLevelPK" name="difficultyLevelFKdifficultyLevel">
			<xsd:selector xpath="difficultyLevel" />
			<xsd:field xpath="@difficultyLevelID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:fogOfWarSettingPK" name="fogOfWarSettingFKfogOfWarSetting">
			<xsd:selector xpath="fogOfWarSetting" />
			<xsd:field xpath="@fogOfWarSettingID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:unitSettingPK" name="unitSettingFKunitSetting">
			<xsd:selector xpath="unitSetting" />
			<xsd:field xpath="@unitSettingID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:spellSettingPK" name="spellSettingFKspellSetting">
			<xsd:selector xpath="spellSetting" />
			<xsd:field xpath="@spellSettingID" />
		</xsd:keyref>
		<xsd:keyref refer="momimesvr:knownServerPK" name="knownServerFKknownServer">
			<xsd:selector xpath="knownServer" />
			<xsd:field xpath="@knownServerID" />
		</xsd:keyref>
	</xsd:element>
		
<!-- Complex types -->
	
	<xsd:complexType name="plane" nxe:singular="Plane" nxe:plural="Planes" nxe:submenu="Overland Map">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="planeDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="100" />
			<xsd:element minOccurs="1" maxOccurs="1" name="planeRacesTitle" type="momimecommon:description" nxe:label="Category on Choose Race screen" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="planeNumber" type="momimenewgame:planeNumber" use="required" nxe:label="Plane Number" nxe:gridwidth="80">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>planeDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="productionType" nxe:singular="Production Type" nxe:plural="Production Types" nxe:submenu="Cities and Races">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="productionTypeDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="150" />
			<xsd:element minOccurs="0" maxOccurs="1" name="productionTypeSuffix" type="momimecommon:description" nxe:label="Short suffix" nxe:gridwidth="80" />
			<xsd:element minOccurs="1" maxOccurs="1" name="unitKilledFromLackOfProduction" type="momimecommon:description" nxe:label="Suffix when unit killed from lack of production" nxe:gridwidth="250" />
			<xsd:element minOccurs="1" maxOccurs="1" name="buildingSoldFromLackOfProduction" type="momimecommon:description" nxe:label="Suffix when building sold from lack of production" nxe:gridwidth="250" />
			<xsd:element minOccurs="1" maxOccurs="1" name="spellSwitchedOffFromLackOfProduction" type="momimecommon:description" nxe:label="Suffix when spell switched off from lack of production" nxe:gridwidth="250" />
			<xsd:element minOccurs="1" maxOccurs="1" name="cannotEndTurnDueToLackOfProduction" type="momimecommon:description" nxe:label="Suffix for inability to end turn due to lack of production" nxe:gridwidth="250" />
		</xsd:sequence>
		<xsd:attribute name="productionTypeID" type="momimecommon:productionTypeID" use="required" nxe:label="Production Type ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>productionTypeDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="mapFeature" nxe:singular="Map Feature" nxe:plural="Map Features" nxe:submenu="Overland Map">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="mapFeatureDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
			<xsd:element minOccurs="1" maxOccurs="1" name="mapFeatureCannotBuildCityDescription" type="momimecommon:description" nxe:label="Description when saying City cannot be built here" nxe:gridwidth="250" />
			<xsd:element minOccurs="0" maxOccurs="1" name="mapFeatureMagicWeaponsDescription" type="momimecommon:description" nxe:label="Magic Weapon text to show on Surveyor panel" nxe:gridwidth="250" />
		</xsd:sequence>
		<xsd:attribute name="mapFeatureID" type="momimecommon:mapFeatureID" use="required" nxe:label="Map Feature ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>mapFeatureDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="tileType" nxe:singular="Tile Type" nxe:plural="Tile Types" nxe:submenu="Overland Map">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="tileTypeDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
			<xsd:element minOccurs="1" maxOccurs="1" name="tileTypeCannotBuildCityDescription" type="momimecommon:description" nxe:label="Description when saying City cannot be built here" nxe:gridwidth="250" />
			<xsd:element minOccurs="0" maxOccurs="1" name="tileTypeShowAsFeature" type="momimecommon:description" nxe:label="Text to make tile type act like a map feature" nxe:gridwidth="250" />
		</xsd:sequence>
		<xsd:attribute name="tileTypeID" type="momimenewgame:tileTypeID" use="required" nxe:label="Tile Type ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>tileTypeDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="pickType" nxe:singular="Pick Type" nxe:plural="Pick Types" nxe:submenu="Magic">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="pickTypeDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="pickTypeID" type="momimecommon:pickTypeID" use="required" nxe:label="Pick Type ID" nxe:gridwidth="100" />
	</xsd:complexType>
	
	<xsd:complexType name="pick" nxe:singular="Pick" nxe:plural="Picks" nxe:submenu="Magic">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="pickDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="120" />
			<xsd:element minOccurs="0" maxOccurs="1" name="bookshelfDescription" type="momimecommon:description" nxe:label="Label on Bookshelf" nxe:gridwidth="120" />
			<xsd:element minOccurs="1" maxOccurs="1" name="pickHelpText" type="momimelang:helpText" nxe:label="Help Text" nxe:gridwidth="600" />
		</xsd:sequence>
		<xsd:attribute name="pickID" type="momimecommon:pickID" use="required" nxe:label="Pick Type ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>pickDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="wizard" nxe:singular="Wizard" nxe:plural="Wizards">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="wizardName" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="150" />
		</xsd:sequence>
		<xsd:attribute name="wizardID" type="momimecommon:wizardID" use="required" nxe:label="Wizard ID" nxe:gridwidth="80" />
	</xsd:complexType>
	
	<xsd:complexType name="populationTask" nxe:singular="Population Task" nxe:plural="Population Task" nxe:submenu="Cities and Races">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="populationTaskSingular" type="momimecommon:description" nxe:label="Singular" nxe:gridwidth="150" />
			<xsd:element minOccurs="1" maxOccurs="1" name="populationTaskPlural" type="momimecommon:description" nxe:label="Plural" nxe:gridwidth="150" />
		</xsd:sequence>
		<xsd:attribute name="populationTaskID" type="momimecommon:populationTaskID" use="required" nxe:label="Population Task ID" nxe:gridwidth="100" />
	</xsd:complexType>
	
	<xsd:complexType name="race" nxe:singular="Race" nxe:plural="Races" nxe:submenu="Cities and Races">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="raceName" type="momimecommon:description" nxe:label="Singular" nxe:gridwidth="100" />
			<xsd:element minOccurs="1" maxOccurs="1" name="raceNamePlural" type="momimecommon:description" nxe:label="Plural" nxe:gridwidth="100" />
			<xsd:element minOccurs="1" maxOccurs="1" name="raceAdvantages" type="momimelang:helpText" nxe:label="Help text - Advantages" nxe:gridwidth="400" />
			<xsd:element minOccurs="1" maxOccurs="1" name="raceDisadvantages" type="momimelang:helpText" nxe:label="Help text - Disadvantages" nxe:gridwidth="400" />
		</xsd:sequence>
		<xsd:attribute name="raceID" type="momimecommon:raceID" use="required" nxe:label="Race ID" nxe:gridwidth="70">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>raceName</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="building" nxe:singular="Building" nxe:plural="Buildings" nxe:submenu="Cities and Races">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="buildingName" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="150" />
			<xsd:element minOccurs="1" maxOccurs="1" name="buildingHelpText" type="momimecommon:description" nxe:label="Help Text" nxe:gridwidth="600" />
		</xsd:sequence>
		<xsd:attribute name="buildingID" type="momimecommon:buildingID" use="required" nxe:label="Building ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>buildingName</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="citySize" nxe:singular="City Size" nxe:plural="City Sizes" nxe:submenu="Cities and Races">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="citySizeName" type="momimecommon:description" nxe:label="Name" nxe:gridwidth="120" />
		</xsd:sequence>
		<xsd:attribute name="citySizeID" type="momimecommon:citySizeID" use="required" nxe:label="City Size ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>citySizeMinimum</nxe:showreferencedfield>
					<nxe:showreferencedfield>citySizeMaximum</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="unitType" nxe:singular="Unit Type" nxe:plural="Unit Types" nxe:submenu="Units">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="unitTypeInexperienced" type="momimecommon:description" nxe:label="Help text for inexperienced units" nxe:gridwidth="400" />
			<xsd:element minOccurs="1" maxOccurs="1" name="unitTypeExperienced" type="momimecommon:description" nxe:label="Help text prefix for experienced units" nxe:gridwidth="400" />
			<xsd:element minOccurs="1" maxOccurs="1" name="unitTypeMaxNaturalExperience" type="momimecommon:description" nxe:label="Help text for unit reaching max naturally attainable level" nxe:gridwidth="400" />
			<xsd:element minOccurs="1" maxOccurs="1" name="unitTypeMaxExperience" type="momimecommon:description" nxe:label="Help text for unit reaching absolute max level" nxe:gridwidth="400" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="experienceLevel" type="momimelang:experienceLevel" />
		</xsd:sequence>
		<xsd:attribute name="unitTypeID" type="momimecommon:unitTypeID" use="required" nxe:label="Unit Type ID" nxe:gridwidth="100" />
	</xsd:complexType>
	
	<xsd:complexType name="unitSkill" nxe:singular="Unit Skill" nxe:plural="Unit Skills" nxe:submenu="Units">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="unitSkillDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="120" />
			<xsd:element minOccurs="1" maxOccurs="1" name="unitSkillHelpText" type="momimelang:helpText" nxe:label="Help Text" nxe:gridwidth="600" />
		</xsd:sequence>
		<xsd:attribute name="unitSkillID" type="momimecommon:unitSkillID" use="required" nxe:label="Unit Skill ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>unitSkillDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="unitAttribute" nxe:singular="Unit Attribute" nxe:plural="Unit Attributes" nxe:submenu="Units">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="unitAttributeDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="120" />
			<xsd:element minOccurs="1" maxOccurs="1" name="unitAttributeHelpText" type="momimelang:helpText" nxe:label="Help Text" nxe:gridwidth="600" />
		</xsd:sequence>
		<xsd:attribute name="unitAttributeID" type="momimecommon:unitAttributeID" use="required" nxe:label="Unit Attribute ID" nxe:gridwidth="120" />
	</xsd:complexType>
	
	<xsd:complexType name="unitMagicRealm" nxe:singular="Unit Magic Realm/Lifeform Type" nxe:plural="Unit Magic Realms/Lifeform Types" nxe:submenu="Units">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="unitMagicRealmPlural" type="momimecommon:description" nxe:label="Plural" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="unitMagicRealmID" type="momimecommon:unitMagicRealmID" use="required" nxe:label="Unit Magic Realm ID" nxe:gridwidth="150">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>unitMagicRealmName</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="rangedAttackType" nxe:singular="Ranged Attack Type" nxe:plural="Ranged Attack Types" nxe:submenu="Units">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="rangedAttackTypeDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="150" />
		</xsd:sequence>
		<xsd:attribute name="rangedAttackTypeID" type="momimecommon:rangedAttackTypeID" use="required" nxe:label="Ranged Attack Type ID" nxe:gridwidth="120">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>rangedAttackTypeDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="unit" nxe:singular="Unit" nxe:plural="Units" nxe:submenu="Units">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="unitName" type="momimecommon:description" nxe:label="Name" nxe:gridwidth="150" />
			<xsd:element minOccurs="0" maxOccurs="1" name="unitNamePrefix" type="momimecommon:description" nxe:label="Prefix if not plural" nxe:gridwidth="100" />
		</xsd:sequence>
		<xsd:attribute name="unitID" type="momimecommon:unitID" use="required" nxe:label="Unit ID" nxe:gridwidth="80">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>unitName</nxe:showreferencedfield>
					<nxe:showreferencedfield>figureCount</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="hero" nxe:singular="Hero" nxe:plural="Heroes" nxe:submenu="Units">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="heroName" type="momimecommon:description" nxe:label="Name" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="heroNameID" type="momimecommon:heroNameID" use="required" nxe:label="Hero Name ID" nxe:gridwidth="100" />
	</xsd:complexType>
	
	<xsd:complexType name="experienceLevel" nxe:singular="Experience Level" nxe:plural="Experience Levels">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="experienceLevelName" type="momimecommon:description" nxe:label="Name" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="levelNumber" type="momimecommon:experienceLevelNumber" use="required" nxe:label="Level" nxe:gridwidth="50">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>experienceRequired</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="combatAreaEffect" nxe:singular="Combat Area Effect" nxe:plural="Combat Area Effects" nxe:submenu="Magic">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="combatAreaEffectDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="130" />
			<xsd:element minOccurs="1" maxOccurs="1" name="combatAreaEffectHelpText" type="momimelang:helpText" nxe:label="Help Text" nxe:gridwidth="400" />
		</xsd:sequence>
		<xsd:attribute name="combatAreaEffectID" type="momimecommon:combatAreaEffectID" use="required" nxe:label="Combat Area Effect ID" nxe:gridwidth="120">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>combatAreaEffectDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="spellRank" nxe:singular="Spell Rank" nxe:plural="Spell Ranks" nxe:submenu="Spells">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="spellRankDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="150" />
		</xsd:sequence>
		<xsd:attribute name="spellRankID" type="momimecommon:spellRankID" use="required" nxe:label="Spell Rank ID" nxe:gridwidth="120" />
	</xsd:complexType>
	
	<xsd:complexType name="spellBookSection" nxe:singular="Spell Book Section" nxe:plural="Spell Book Sections" nxe:submenu="Spells">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="spellBookSectionName" type="momimecommon:description" nxe:label="Name" nxe:gridwidth="200" />
			<xsd:element minOccurs="0" maxOccurs="1" name="spellTargetPrompt" type="momimecommon:description" nxe:label="Targetting prompt" nxe:gridwidth="400" />
		</xsd:sequence>
		<xsd:attribute name="spellBookSectionID" type="momimecommon:spellBookSectionID" use="required" nxe:label="Spell Book Section ID" nxe:gridwidth="120" />
	</xsd:complexType>
	
	<xsd:complexType name="spell" nxe:singular="Spell" nxe:plural="Spells" nxe:submenu="Spells">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="spellName" type="momimecommon:description" nxe:label="Name" nxe:gridwidth="150" />
			<xsd:element minOccurs="1" maxOccurs="1" name="spellDescription" type="momimecommon:description" nxe:label="Short Description" nxe:gridwidth="400" />
			<xsd:element minOccurs="1" maxOccurs="1" name="spellHelpText" type="momimelang:helpText" nxe:label="Help Text" nxe:gridwidth="500" />
		</xsd:sequence>
		<xsd:attribute name="spellID" type="momimecommon:spellID" use="required" nxe:label="Spell ID" nxe:gridwidth="60">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>spellName</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="citySpellEffect" nxe:singular="City Spell Effect" nxe:plural="City Spell Effects" nxe:submenu="Cities and Races">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="citySpellEffectName" type="momimecommon:description" nxe:label="Name" nxe:gridwidth="230" />
			<xsd:element minOccurs="1" maxOccurs="1" name="citySpellEffectHelpText" type="momimelang:helpText" nxe:label="Help Text" nxe:gridwidth="500" />
		</xsd:sequence>
		<xsd:attribute name="citySpellEffectID" type="momimecommon:citySpellEffectID" use="required" nxe:label="City Spell Effect ID" nxe:gridwidth="110" />
	</xsd:complexType>
	
	<xsd:complexType name="languageCategory" nxe:singular="Language Text Category" nxe:plural="Language Text Categories">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="languageEntry" type="momimelang:languageEntry" />
		</xsd:sequence>
		<xsd:attribute name="languageCategoryID" type="momimecommon:languageCategoryID" use="required" nxe:label="Language Text Category" nxe:gridwidth="200" />
	</xsd:complexType>
	
	<xsd:complexType name="languageEntry" nxe:singular="Language Text Entry" nxe:plural="Language Text Entries">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="languageEntryText" type="momimelang:helpText" nxe:label="Text" nxe:gridwidth="300" />
		</xsd:sequence>
		<xsd:attribute name="languageEntryID" type="momimecommon:languageEntryID" use="required" nxe:label="Language Text Entry" nxe:gridwidth="200" />
	</xsd:complexType>
	
	<!-- New game form settings, new for 0.9.2 -->
	<xsd:complexType name="mapSize" nxe:singular="Map Size" nxe:plural="Map Sizes" nxe:submenu="New Game Form">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="mapSizeDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="mapSizeID" type="momimecommon:mapSizeID" use="required" nxe:label="Map Size ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>mapSizeDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="landProportion" nxe:singular="Land Proportion" nxe:plural="Land Proportions" nxe:submenu="New Game Form">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="landProportionDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="landProportionID" type="momimecommon:landProportionID" use="required" nxe:label="Land Proportion ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>landProportionDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="nodeStrength" nxe:singular="Node Strength" nxe:plural="Node Strengths" nxe:submenu="New Game Form">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="nodeStrengthDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="nodeStrengthID" type="momimecommon:nodeStrengthID" use="required" nxe:label="Node Strength ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>nodeStrengthDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="difficultyLevel" nxe:singular="Difficulty Level" nxe:plural="Difficulty Levels" nxe:submenu="New Game Form">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="difficultyLevelDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="difficultyLevelID" type="momimecommon:difficultyLevelID" use="required" nxe:label="Difficulty Level ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>difficultyLevelDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="fogOfWarSetting" nxe:singular="Fog of War Setting" nxe:plural="Fog of War Settings" nxe:submenu="New Game Form">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="fogOfWarSettingDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="fogOfWarSettingID" type="momimecommon:fogOfWarSettingID" use="required" nxe:label="Fog of War Setting ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>fogOfWarSettingDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="unitSetting" nxe:singular="Unit Setting" nxe:plural="Unit Settings" nxe:submenu="New Game Form">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="unitSettingDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="unitSettingID" type="momimecommon:unitSettingID" use="required" nxe:label="Unit Setting ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>unitSettingDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="spellSetting" nxe:singular="Spell Setting" nxe:plural="Spell Settings" nxe:submenu="New Game Form">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="spellSettingDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="spellSettingID" type="momimecommon:spellSettingID" use="required" nxe:label="Spell Setting ID" nxe:gridwidth="100">
			<xsd:annotation>
				<xsd:appinfo>
					<nxe:showreferencedfield>spellSettingDescription</nxe:showreferencedfield>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="knownServer" nxe:singular="Known Server" nxe:plural="Known Servers">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="knownServerDescription" type="momimecommon:description" nxe:label="Description" nxe:gridwidth="200" />
			<xsd:element minOccurs="1" maxOccurs="1" name="knownServerIP" type="momimecommon:ipAddress" nxe:label="IP Address" nxe:gridwidth="200" />
		</xsd:sequence>
		<xsd:attribute name="knownServerID" type="momimecommon:knownServerID" use="required" nxe:label="Known Server ID" nxe:gridwidth="100" />
	</xsd:complexType>

	<!-- Shortcut keys, new for 0.9.3 -->
	<xsd:complexType name="shortcutKey" nxe:singular="Shortcut Key" nxe:plural="Shortcut Keys">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="1" name="shift" type="xsd:boolean" nxe:label="Shift?" nxe:gridwidth="50" />
			<xsd:element minOccurs="0" maxOccurs="1" name="alt" type="xsd:boolean" nxe:label="Alt?" nxe:gridwidth="50" />
			<xsd:element minOccurs="0" maxOccurs="1" name="ctrl" type="xsd:boolean" nxe:label="Ctrl?" nxe:gridwidth="50" />
			<!-- <xsd:choice minOccurs="1" maxOccurs="1" > -->
				<xsd:element minOccurs="0" maxOccurs="1" name="normalKey" type="momimelang:normalKey" nxe:label="Key" nxe:gridwidth="50" />
				<xsd:element minOccurs="0" maxOccurs="1" name="virtualKey" type="momimelang:virtualKey" nxe:label="Virtual Key" nxe:gridwidth="70" />
			<!-- </xsd:choice> -->
		</xsd:sequence>
		<xsd:attribute name="shortcut" type="momimelang:shortcut" use="required" nxe:label="Shortcut" nxe:gridwidth="300" />
	</xsd:complexType>
	
<!-- Simple data types -->
	
	<xsd:simpleType name="helpText">
        <xsd:annotation>
        	<xsd:documentation>Data type for multi line text fields which allow carriage return/line feeds within the text.</xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<!-- Shortcut keys, new for 0.9.3 -->
	<xsd:simpleType name="shortcut">
        <xsd:annotation>
        	<xsd:documentation>Defines the shortcut keys supported by this version.</xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<!-- Overland map shortcut keys -->
			<xsd:enumeration value="ARMIES_SCREEN" />
			<xsd:enumeration value="CENTRE_OVERLAND_ON_SELECTED_UNIT" />
			<xsd:enumeration value="GAME_SCREEN" />
			<xsd:enumeration value="MAGIC_SCREEN" />
			<xsd:enumeration value="NEXT_TURN" />
			<xsd:enumeration value="SWITCH_PLANE" />
			<xsd:enumeration value="SPELLBOOK" />
			<xsd:enumeration value="ZOOM_IN" />
			<xsd:enumeration value="ZOOM_OUT" />

			<xsd:enumeration value="MOVE_OVERLAND_UP" />
			<xsd:enumeration value="MOVE_OVERLAND_UP_RIGHT" />
			<xsd:enumeration value="MOVE_OVERLAND_RIGHT" />
			<xsd:enumeration value="MOVE_OVERLAND_DOWN_RIGHT" />
			<xsd:enumeration value="MOVE_OVERLAND_DOWN" />
			<xsd:enumeration value="MOVE_OVERLAND_DOWN_LEFT" />
			<xsd:enumeration value="MOVE_OVERLAND_LEFT" />
			<xsd:enumeration value="MOVE_OVERLAND_UP_LEFT" />
			<xsd:enumeration value="OVERLAND_MOVE_DONE" />
			<xsd:enumeration value="OVERLAND_MOVE_WAIT" />
			<xsd:enumeration value="BUILD_ROAD_OR_CITY" />
			
			<xsd:enumeration value="ADVISOR_SCREEN" />
			<xsd:enumeration value="ADVISOR_SURVEYOR" />
			<xsd:enumeration value="ADVISOR_PARCHMENT_MAP" />
			<xsd:enumeration value="ADVISOR_SPELL_QUEUE" />
			<xsd:enumeration value="ADVISOR_POWER_GRAPH" />
			<xsd:enumeration value="ADVISOR_WIZARD_STATS" />
			<xsd:enumeration value="ADVISOR_MESSAGES" />
			<xsd:enumeration value="ADVISOR_TAX_RATE" />
			<xsd:enumeration value="ADVISOR_AUTO_CONTROL" />
			<xsd:enumeration value="ADVISOR_WIZARDS" />
			
			<!-- Combat map shortcut keys -->
			<xsd:enumeration value="COMBAT_TOGGLE_AUTO" />
			<xsd:enumeration value="COMBAT_TOGGLE_DAMAGE_CALCULATIONS" />
			<xsd:enumeration value="COMBAT_MOVE_DONE" />
			<xsd:enumeration value="COMBAT_FLEE" />
			<xsd:enumeration value="COMBAT_CAST_SPELL" />
			<xsd:enumeration value="COMBAT_MOVE_WAIT" />
			
			<!-- Other screen shortcut keys -->
			<xsd:enumeration value="ALCHEMY" />
			
			<!-- Generic message box shortcut keys -->
			<xsd:enumeration value="MESSAGE_BOX_CLOSE" />
			<xsd:enumeration value="MESSAGE_BOX_YES" />
			<xsd:enumeration value="MESSAGE_BOX_NO" />
			<xsd:enumeration value="FOUND_NODE_LAIR_TOWER-ENTER_YES" />
			<xsd:enumeration value="FOUND_NODE_LAIR_TOWER-ENTER_NO" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="normalKey">
		<xsd:restriction base="xsd:normalizedString" />
	</xsd:simpleType>

	<xsd:simpleType name="virtualKey">
        <xsd:annotation>
        	<xsd:documentation>Defines virtual keys (untypeable special key values) supported by this version.</xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="VK_F1" />
			<xsd:enumeration value="VK_F2" />
			<xsd:enumeration value="VK_F3" />
			<xsd:enumeration value="VK_F4" />
			<xsd:enumeration value="VK_F5" />
			<xsd:enumeration value="VK_F6" />
			<xsd:enumeration value="VK_F7" />
			<xsd:enumeration value="VK_F8" />
			<xsd:enumeration value="VK_F9" />

			<xsd:enumeration value="VK_LEFT" />
			<xsd:enumeration value="VK_RIGHT" />
			<xsd:enumeration value="VK_UP" />
			<xsd:enumeration value="VK_DOWN" />
			<xsd:enumeration value="VK_HOME" />
			<xsd:enumeration value="VK_END" />
			<xsd:enumeration value="VK_PRIOR" />
			<xsd:enumeration value="VK_NEXT" />

			<xsd:enumeration value="VK_ADD" />
			<xsd:enumeration value="VK_SUBTRACT" />

			<xsd:enumeration value="VK_RETURN" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>

